# MongoDB with Python Notes

In [ ]:
# Install MongoDB package
!pip install pymongo

In [ ]:
import pymongo

## Connecting to MongoDB

In [ ]:
# Connect to service (default ip and port are localhost and 27017, respectively)

conn = pymongo.MongoClient()

## Creating a database

In [ ]:
# Create a database called clients
# Note: the databases and collections are created AFTER the first document is created

shopDB = conn.shop

## Creating a collection

Collections can be related with the tables, in the SQL world.
Collections store documents.
These documents are stored in MongoDB in JSON format. JSON documents support embedded fields, so related data and lists of data can be stored with the document instead of an external table.

In [ ]:
clien_colle = shopDB.clients

## Inserting data

In [ ]:
from datetime import datetime

### Inserting one document

In [ ]:
data = {'prod_name': 'TV', 
        'brands': ['Samsung', 'Panasonic', 'LG'], 
        'regis_date': datetime.utcnow()}

In [ ]:
# MongoDB automatically creates an ID for each document (_id)
# insert_one method returns an InsertOneResult object
# inserted_id return the id of the inserted document

inserted_id = clien_colle.insert_one(data).inserted_id

In [ ]:
inserted_id

### Inserting many documents

In [ ]:
# To insert many documents, we have to provide a list with the dictionaries

data = [
    {
        'prod_name': 'Freezer',
        'brands': ['Brastemp', 'Consul', 'Electrolux'],
        'regis_date': datetime.utcnow()
    }, 
    {
        'prod_name': 'Smartphone', 
        'brands': ['iPhone', 'Xiaomi', 'Samsung'], 
        'regis_date': datetime.utcnow()
    }, 
    {
        'prod_name': 'Laptop', 
        'brands': ['ASUS', 'DELL', 'HP', 'Samsung'], 
        'regis_date': datetime.utcnow()
    }
]

In [ ]:
# insert_one method returns an InsertManyResult object
# inserted_ids return a list with the ids of the inserted documents

inserted_ids = clien_colle.insert_many(data).inserted_ids

In [ ]:
inserted_ids

## Query Documents

In MongoDB we use the find and findOne methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

### Find One

Return the first occurrence in the selection, similar to LIMIT 1 in SQL world

In [ ]:
data = clien_colle.find_one()
data

### Find

The find() method returns all occurrences in the selection.

The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the find() method gives you the same result as SELECT * in MySQL.

In [ ]:
dataset = clien_colle.find()
dataset

In [ ]:
# find() returns an iterable
for data in dataset:
    date = data['regis_date'].strftime('%x %X')
    brands = ", ".join(data["brands"])
    
    print(f'Name: {data["prod_name"]}; Available Brands: {brands}; Register Date: {date}')

### Filtering the result

#### Equality Filtering

In [ ]:
# Return documents where prod_name == laptop
dataset = clien_colle.find({'prod_name': 'Laptop'})
for data in dataset:
    print(data)

#### IN condition

In [ ]:
# Return documents where prod_name == Laptop or == Smartphone
dataset = clien_colle.find({'prod_name': {'$in': ['Laptop', 'Smartphone']}})
for data in dataset:
    print(data)

#### OR condition

In [ ]:
# Return documents where prod_name == Laptop or brands array contains an element equals to Samsung
dataset = clien_colle.find({'$or': [{'prod_name': 'Laptop'}, {'brands': 'Samsung'}]})
for data in dataset:
    print(data)

#### AND condition

Implicitly, a logical AND conjunction connects the clauses of a compound query so that the query selects the documents in the collection that match all the conditions.